@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "_sidebar";

body {
  padding: 30px;
}

input[name="title"] {
  width: 565px;
}

input[type="date"] {
  width: 200px;
}

textarea {
  resize: none;
  font-family: inherit;
}