<!--https://medium.com/@9cv9official/create-a-beautiful-hover-triggered-expandable-sidebar-with-simple-html-css-and-javascript-9f5f80a908d1 -->

<div class="sidebar">
    <a href="/">
        <span data-feather="home" class="feather-icon"></span>
        <span class="icon-text">Home</span>
    </a>
    <a href="/todo">
        <span data-feather="check-square" class="feather-icon"></span>
        <span class="icon-text">To-do list</span>
    </a>
    <a href="#">
        <span data-feather="settings" class="feather-icon"></span>
        <span class="icon-text">Settings</span>
    </a>
</div>

<script>
    feather.replace();
</script>