<!--https://medium.com/@9cv9official/create-a-beautiful-hover-triggered-expandable-sidebar-with-simple-html-css-and-javascript-9f5f80a908d1 -->

<div class="sidebar">
    <a href="#">
        <span data-feather="home"></span>
        <span>Home</span>
    </a>
</div>

<script>
    feather.replace();
</script>