<head>
    <%- include('../partials/includes.ejs') %>
</head>
<body>
<%- include('../partials/sidebar.ejs') %>

<main>
    <h1>Todo List</h1>

    <a class="button-primary button" href="/todo/new">New Todo</a>
</main>
</body>